.gallery {
  padding-bottom: 40px;
  &__top,
  &__bottom {
    overflow: hidden;
  }
  &__top {
    margin-bottom: 20px;
  }

  &__container {
    height: 320px;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: -1rem;
  }

  &__slide {
    flex: 0 0 auto;
    padding-left: 1rem;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .gallery__slide {
    flex: 0 0 100%;
  }
}
