.excursionPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  &__firstCol {
    flex: 1 1 650px;
    overflow: hidden;
    &__header {
      font-family: 'Playfair Display', sans-serif;
      font-size: 39px;
      margin-bottom: 8px;
    }

    &__subHeader {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 15px;
      color: $cool-grey;
      margin-bottom: 20px;

      &__line {
        margin-left: 5px;
      }

      img {
        margin-right: 5px;
      }
    }

    &__overview {
      margin-top: 30px;

      &__title {
        font-family: 'Playfair Display', sans-serif;
        font-size: 26px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      &__desc {
        font-size: 15px;
        color: $cool-grey;
        margin-bottom: 30px;
      }
    }

    &__included {
      &__title {
        font-family: 'Playfair Display', sans-serif;
        font-size: 26px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    }
  }

  &__secondCol {
    flex: 1 1 270px;
  }
}

.otherTours {
  background-color: white;
  box-sizing: border-box;
  min-height: 300px;
  height: fit-content;
  width: 100%;
  padding: 50px 100px;
  &__list {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
  }
  &__title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}
