$dark-blue: #061138;
$orange-color: #d5ae82;
$dashboard-background-color: #202020;
$white-darker-01: #202020;
$lighter-blue: #9ea5be;
$cool-grey: #8a91a8;
$venetian-red: #8b95a2;
$cadet-blue: #acb7c6;
$roman-silver: #7f8a99;
$anti-flash-white: #f2f2f2;
