@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';
@import './base/typography';
@import '../app/components/Navbar/navbar';
@import '../app/components/Footer/footer';
@import '../app/components/Buttons/sociaMediaButton';
@import '../app/components/Buttons/languageButton';
@import '../app/components/Buttons/carouselControllerButton';
@import '../app/components/Carousels/PromoCarousel/promoCarousel';
@import '../app/components/Containers/frontPageCotainer';
@import '../app/components/Forms/contectForm';
@import '../app/components/Containers/secondaryPagesContainer';
@import '../app/components/Carousels/ReviewsCarousel/reviews';
@import '../app/components/Carousels/GalleryCarousel/gallery';
@import '../app/components/Maps/googleMaps';
@import '../app/components/Cards/infoCard';
@import '../app/[lang]/contact/contactPage';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
