@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';
@import './base/typography';
@import '../app/components/Navbar/navbar';
@import '../app/components/Footer/footer';
@import '../app/components/Buttons/sociaMediaButton';
@import '../app/components/Buttons/languageButton';
@import '../app/components/Buttons/carouselControllerButton';
@import '../app/components/Carousels/PromoCarousel/promoCarousel';
@import '../app/components/Carousels/ExcursionPhotosCarousel/excrusionPhotosCarousel';
@import '../app/components/Containers/frontPageCotainer';
@import '../app/components/Forms/contactForm';
@import '../app/components/Forms/loginForm';
@import '../app/components/Forms/excursionForm';
@import '../app/components/Forms/reserveExcursionForm';
@import '../app/components/Containers/secondaryPagesContainer';
@import '../app/components/Carousels/ReviewsCarousel/reviews';
@import '../app/components/Carousels/GalleryCarousel/gallery';
@import '../app/components/Maps/googleMaps';
@import '../app/components/Cards/infoCard';
@import '../app/components/Cards/excursionCard';
@import '../app/[lang]/contact/contactPage';
@import '../app/[lang]/tours/tours';
@import '../app/[lang]/tours/[excursionId]/excursionPage';
@import '../app/components/Buttons/signOutButton';
@import '../app/admin/adminPage';
@import '../app/admin/excursions/excursionsPage';
@import '../app/components/Lists/excursionList';
@import '../app/components/Lists/itemsList';
@import '../app/components/Modals/confirmModal';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
