.excursionsOffer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  &__subHeader {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__desc {
      margin-top: 15px;
      color: #8b95a2;
    }
    &__title {
      margin-bottom: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 600;
      text-transform: uppercase !important;
      font-size: toRem(25);
      text-align: center;
    }
  }
}
