.excursionsOffer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  &__subHeader {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    text-transform: uppercase !important;
    font-size: toRem(25);
    text-align: center;
    margin-bottom: 40px;
  }
}
