.selectedBtn {
  background-color: grey !important;
}

.calendarContainer {
  margin-top: 50px;
  width: 100%;

  &__hours {
    &__title {
      margin-bottom: 10px;
    }
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;

      &__btn {
        height: 50px;
        flex: 1;
        background-color: white;
        border: 1px solid $cool-grey;
        @include ripple-effect($cool-grey);
        border-radius: 6px;
      }
    }
  }

  &__calendar {
    margin-top: 50px;
    width: 100% !important;
  }
}
