.excursionsPage {
  margin-top: 80px;

  &__request {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 clamp(10px, 10%, 300px);
    box-sizing: border-box;
  }

  &__nav {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    &__newExcursion {
      height: 40px;
      padding: 10px;
      outline: none;
      border: none;
      background-color: $lighter-blue;
      color: white;
      text-transform: uppercase;
      border-radius: 12px;
      @include ripple-effect($lighter-blue);
    }
  }
}
